<div class="wrapper-div">
  <mat-card class="create-user-content">
    <mat-card-title>Here you can create user</mat-card-title>
    <mat-card-subtitle>Click the button below to open dialog</mat-card-subtitle>
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="openDialog('100ms', '100ms')">Open dialog</button>
      <button mat-raised-button color="primary" (click)="navigateToFindPage()">Find Users</button>
    </mat-card-actions>
  </mat-card>
</div>
