<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <span mat-menu-item>
        <app-button-with-navigate [buttonData]="{
        link: 'users',
        icon: 'add',
        title: 'Create user'
      }"
        ></app-button-with-navigate>
      </span>
      <span mat-menu-item>
        <app-button-with-navigate [buttonData]="{
        link: 'find',
        icon: 'recent_actors',
        title: 'Find users'
      }"
        ></app-button-with-navigate>
      </span>
    </mat-menu>
    <span>User list</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="toPrevPage()">
      <mat-icon>undo</mat-icon>
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
