<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toCreateUserPage()">
        <mat-icon>add</mat-icon>
        <span>Create user</span>
      </button>
      <button mat-menu-item (click)="toFindUserPage()">
        <mat-icon>recent_actors</mat-icon>
        <span>Find users</span>
      </button>
    </mat-menu>
    <span>User list</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="toPrevPage()">
      <mat-icon>undo</mat-icon>
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
